*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.musicPlayer{
    background:#ffe0e5;
    width:400px;
    padding:25px 35px;
    text-align:center;
}
.navigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid pink;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
    background: #fff;
    color: #f53192;
    line-height: 40px;
    box-shadow:0 5px 10px rgba(255,26,26,0.22);
}
.thumbnailImage{
    margin-top:40px;
    border-radius: 20px;
}
.songName{
    color: #333; 
    margin-top:20px;
    font-size:26px;
    font-weight:700;
}
.songTitle{
    font-size:14px;
    color:#333;
    margin-top:10px;
}
#progress{
    -webkit-appearance: none;
    width:100%;
    height:6px;
    background: #f53192;
    border-radius: 4px;
    cursor:pointer;
    margin:40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background:#f53192;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow:0 5px 5px rgba(255,26,26,0.22);
}
.controls{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap:25px; */
}
.circle_2{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid pink;
    border-radius: 50%;
    padding: 24px;
    cursor: pointer;
    background: #f53192;
    color: #fff;
    line-height: 40px;
    box-shadow:0 5px 10px rgba(255,26,26,0.22);
}